<div class="textwidget margin-top-30">
											<h1> Register </h1>
											<p> Register with us and post your advertisement for free</p>
											
											</div>
										<div class="widget">
											<form name="create-user-form" id="create-user-form" method="post">
												<div class="form-group">
													<label for="firstName">First name</label>
													<input type="text" id="firstname" name="firstname" required value="{{input.firstname}}" />
												</div>
												<div class="form-group">
													<label for="lastName">Last name</label>
													<input type="text" id="lastname" name="lastname" required  value="{{input.lastname}}"/>
												</div>
												<div class="form-group">
													<label for="address">Address</label>
													<input type="text" id="address" name="address" required value="{{input.address}}"/>
												</div>
												
												
												<div class="form-group">
													<label for="postcode">Post code</label>
													<input type="text" id="postcode" name="postcode" required value="{{input.postcode}}" />
												</div>
												<div class="form-group">
													<label for="telephone">Telephone</label>
													<input type="number" id="telephone" name="telephone" required value="{{input.telephone}}" />
												</div>
												
												<div class="form-group">
													<label for="email">Email</label>
													<input type="email" id="email" name="email" required value="{{input.email}}" />
												</div>
												<div class="form-group">
													<label for="password">Password</label>
													<input type="password" id="password" name="password" autocomplete="off" required value="{{input.password}}"/>
												</div>
												<div class="form-submit">
													<input type="submit" value="Create Account" />
												</div>
												<span style ="color:red">{{error}} </span>
											</form>
										</div>